#Messages{
    padding: 1.2rem;
    background: #f5f7fa;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;

    header,article,footer{
        display: block;
    }
    
    header{
        flex: 1;

        hr{
            color: #cfd6e0;
        }
    }

    article{
        flex: 8;
        overflow-y: auto;
        margin-bottom: 100px;
        max-height:calc( 100vh - 360px);

        ul{
            list-style: none;
        }

        li{
            padding: 20px 0;
            display: block;
            display: flex;
            flex-direction: row;
            div{
                // background: white;
                
            }

            .avatar{
                width: 20%;
                text-align: center;
            }

            .message-body{
                background: #FFF;
                max-width: 75%;
                padding: 10px;
            }
            
            &.received{
                flex-direction: row-reverse;
                div{
                    &.message-body{
                        background: #5c7394;
                        color: #fff;
                    }
                }
            }
        }
    }

    footer{
        height: 100px;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content:flex-start;
        position: absolute;
        bottom: 0;
        background: #f5f7fa;
        width: 93%;

        form{
            width: 100%;
            background: white;
            display: flex;
        }

        input{
            flex: 9;
            padding: 10px 0 10px 5px;
            outline: none;
            border: none;

            &:focus{
                border-bottom: 1px solid #30364d;
            }
        }

        button{
            flex: 1;
            border: 0;
            outline: none;
            background: #fff;
            color: rgb(72,197,127);
            &:hover{
                border-bottom: 1px solid rgb(72,197,127);
            }
        }
    }

}
